In [13]:
import pandas as pd

ghana = 'GHA_2008_MGFERE_v01_M_Stata8/ReplicationDataGhanaJDE.dta'
baseline = 'GHA_2008_MGFERE_v01_M_Stata8/GhanaBaselineSingle_la.dta'
columns_needed = ['realfinalprofit', 'atreatcash', 'atreatequip', 'wave', 'male', 'groupnum',
                    'sheno', 'male_male', 'female_female', 'male_mixed', 'female_mixed',
                    'highcapture','highcapital', 'highgroup', 'mlowgroup']

data_ghana = pd.read_stata(ghana)[columns_needed]
data_baseline_cov = pd.read_stata(baseline)[['SHENO', 'income_4b']]
data_baseline_cov['sheno'] = data_baseline_cov['SHENO'].astype(int)
# merge data_baseline_cov to data_ghana
data_ghana = pd.merge(data_ghana, data_baseline_cov, how='left', left_on='sheno', right_on='sheno')
# transform object columes into float, remove rows with na
data_ghana['income_4b'] = pd.to_numeric(data_ghana['income_4b'], errors='coerce')
data_ghana = data_ghana.dropna()
df_wave6 = data_ghana[data_ghana.wave==6]
df_wave6[['income_4b']]

      income_4b
3          50.0
7         220.0
13       1500.0
22        200.0
29        265.0
...         ...
4729      120.0
4734       65.0
4744      100.0
4746       20.0
4754       86.0

[593 rows x 1 columns]